<% content_for :title, "Editing movie" %>

<h1 style="text-align: center;">Editing movie</h1>

<div style="text-align: center;">
  <%= render "form", movie: @movie %>
</div>

<br>

<div style="text-align: center;">
  <%= link_to "Show this movie", @movie, class: "btn btn-secondary" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>
</div>