<% content_for :title, "New movie" %>

<h1 class="center-text">New movie</h1>

<div class="center-text">
  <%= render "form", movie: @movie %>
</div>

<br>

<div class="center-text">
  <%= link_to "Back to movies", movies_path %>
</div>
